.head {
	line-height: 0.5;
	margin:3em 0;
}
.title {
    font-size: 20px;
    line-height: 0.5;
    margin-left: 0.25em;
    margin-botton: 3.0em;
    color: #478FB8;
    width: 100%;
    font-family: Georgia, Serif;
}
.date
{
	width:10px;
}
.textlarge
{
	width: 90%;
}

.errortext
{
	width: 90%;
	border: 1px solid red;
}
.shorterrortext
{
	width: 30%;
	border: 1px solid red;
}
.padleft
{
	pad-left: 5px;
	margin-left: 3.0em;
}
.separator
{
	    line-height: 0.5;
	    border-bottom: 1px solid rgb(204, 204, 204);
	    pad-top: 10px;
}
.filtertext
{
	width: 20%;
}
.label
{	
	margin-left: 0.25em;
	font-family: Georgia, Serif;	
}
.text{	
	width: 30%;
	
}
.padtable
{
	pad-left: 20px;
}
.rightAlign
{
	margin-right: 1em;
	text-align: right;
}
.centerAlign
{
	
	text-align: center;
}
.leftAlign
{
	margin-left: 1em;
	text-align: left;
}
.placeholding-btn
{
	margin-right: 1em;
	margin-botton: 2em;
	align: right;
	
}
.headLabel
{
    font-family: Georgia, Serif;
    font-size: 16px;
}
.divCenterClass
{

}
.btn{
	position: relative;
	pad-right:1em;
	pad-bottom:10%;
	inline-block;padding:5px 10px;
	font-size:13px;font-weight:bold;
	font-family: Georgia, Serif;
	line-height:18px;color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,.5);
	background-color:#ccc;
	background-repeat:no-repeat;border:1px solid #ccc;cursor:pointer;border-radius:4px;-webkit-box-shadow:0 1px 0 rgba(255,255,255,.5);box-shadow:0 1px 0 rgba(255,255,255,.5)}
	
.btnimg{
	width:22px;
	heigth: 22px;
}
.center
{

	pad-left:15px;
	background: -moz-linear-gradient(center top , rgb(255, 255, 255) 0px, rgb(221, 221, 221) 100%) repeat scroll 0% 0% transparent;
	border-left: 1px solid rgb(238, 238, 238);
	border-right: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	margin-bottom:10%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top: 20%;
	width:50%;
	color-stop(0%,#2daddc);
	border-radius: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border:0.5px solid #5481AA;
    font-size: 12px; font-family: Georgia, Serif;
}
.litleletter
{
	font-size: 8px;font-family: Georgia, Serif;
}
.messageerror
{
	font-size: 10px;font-family: Georgia, Serif;
	color:red;
}

.itemlist
{

	pad-left:15px;
	border-bottom: 0.5px solid rgb(204, 204, 204);
		border-align: center;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	margin-bottom:2%;
	position: relative;
	top: 2%;
	width:100%;
	color-stop(0%,#2daddc);
    font-family: Georgia, Serif;
}
.tablemenu
{

	text-align: center;
	width:60%;
}
#container{width:100%;}
#left{float:left;}
#right{float:right;}
#center{margin:0 auto;}